body {
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    background-color: rgb(244, 244, 244);
    transition: all 0.3s ease-in-out;
}

.container-narrow {
    max-width: 600px !important;
}

.item {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    font-size: 0.7em;
    text-align: center;
    padding-top: 16px;
}

.item:hover {
    transform: scale(1.2, 1.2);
}

body.dark-mode {
    color: white;
    background-color: rgb(33, 37, 43);
}

body.dark-mode .item {
    background-color: black;
    box-shadow: none;
}
